{% extends 'base.html.twig' %}

{% block title %}Hello StoreController!{% endblock %}

{% block body %}
  {% if (products|length < 1) %}
    <div class="col-12">
        <h2>Sorry, now any product isn't available. Please check later</h2>
    </div>
  {% else %}
    {% for product in products %}
      <a href="{{ url('view_product', {id:city.id,item:product.id}) }}">{{ product.name }}</a>
    {% endfor %}

  {% endif %}
{% endblock %}
