{% extends 'base.html.twig' %}

{% block title %}Hello StoreController!{% endblock %}

{% block body %}
  <div class="col-4">
    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
  </div>
  <div class="col-8">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">{{ product.name }}</h5>
        <!-- Product reviews-->
        <div class="d-flex justify-content-center small text-warning mb-2">
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
        </div>
        <!-- Product price-->
        <span class="text-muted text-decoration-line-through">{{ product.priceAmount|format_currency('UAH') }}</span>
        <div class="text-body">
          {{ product.description }}
        </div>
      </div>
    
    
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      {{ form(order_form) }}
    </div>
  </div>

<!-- Product details-->

{% endblock %}
